<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.kingfar.blog.mapper.AccountMapper">
    <select id="selectByUsername" parameterType="String" resultType="com.kingfar.blog.entity.UserVerifyData">
        SELECT username, password, perms FROM t_user WHERE username=#{username}
    </select>

    <select id="queryLoginData" parameterType="String" resultType="com.kingfar.blog.entity.UserLoginData">
        SELECT uid, username, age, sex, signature, mail FROM t_user WHERE username=#{username}
    </select>

    <insert id="setSignUpInfo">
        INSERT INTO t_user(username, password, age, sex, signature, mail, ctime) VALUE (#{usr}, #{pwd}, 0, '男', '这个人很懒，什么也没有写~', '空', #{ctime})
    </insert>
</mapper>