<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.kingfar.blog.mapper.ArticleMapper">

    <select id="selectAll" resultType="com.kingfar.blog.entity.ArticleData">
        SELECT * FROM t_article ORDER BY ctime DESC
    </select>

    <select id="countArticles" resultType="int">
        SELECT COUNT(*) FROM t_article
    </select>

    <insert id="insertArticle">
        INSERT INTO t_article(title, content, author, ctime) VALUE (#{title}, #{content}, #{author}, #{ctime})
    </insert>

    <select id="search" parameterType="String" resultType="com.kingfar.blog.entity.ArticleData">
        SELECT * FROM t_article WHERE title LIKE concat('%',#{title},'%') ORDER BY ctime DESC
    </select>
</mapper>