<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="com.kingfar.blog.mapper.MessageMapper">

    <select id="queryMessageByToAndFrom" resultType="com.kingfar.blog.entity.MessageData">
        SELECT
                *
        FROM
                t_message
        WHERE
                fromuser = #{fromUser}|#{toUser}
          AND
                touser = #{toUser}|#{fromUser}
        ORDER BY
                mtime
    </select>

    <insert id="insertMessage">
        INSERT INTO
                t_message(fromuser,
                          content,
                          touser)
        VALUES
                (#{fromUser},
                 #{content},
                 #{toUser})
    </insert>

</mapper>